<template>
  <div class="hbs-{{ name }}">
  </div>
</template>

<script>
export default {
  name: 'H{{ properCase name }}'
};
</script>

<style lang="less">
@import '../../styles/mixins/index';

.hbs-{{ name }} {
  .reset-component;
}
</style>
